:root {
    --vp-c-bg: #ffffff;
    /* Light mode background */
    --vp-home-hero-name-color: #ea580b;
    --vp-button-brand-bg: #ea580b;
    --vp-c-brand-1: #ea580b;
    --vp-button-brand-hover-bg: #d24d0a;
    --vp-c-brand-2: #d24d0a;
}

.dark {
    --vp-c-bg: #0b0a09;
    /* Dark mode background */
}